* {
	margin:0;
	padding:0;
}

.wrapper {
	width:80%;
	max-width: 1020px;
	margin:auto;
}

#navigation {
	background-color: green;
	height:100px;
	width:100%;
}

.nav ul {
	list-style: none;
}

.nav li {
	display: inline-block;
}

.nav li a {
	text-decoration: none;
	color: black;
}

josh is a fag bag

